body
{
  font-family:Helvetica;
}
h1
{
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 4em;
}
h1 span
{
  background-color: rgba(111, 111,111,0.7);
  border-radius: 10px;
  padding: 30px;
}
#header 
{
  background: url(../images/flamesHeader.jpg) ;
  height: 200px;
  background-size: 100% 100%;
  padding: 8px;
  margin-bottom: 1cm;
}
form 
{
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
label 
{
  font-size: 20px;
}
@keyframes highlighting
{
  0% {background-color: lightgrey;}
  33% {background-color: #FF1654  ;}
  66% {background-color: #FF1654  ;}
  100% {background-color: lightgrey;}
}
.highlighted
{
  animation-name: highlighting;
  animation-duration: 6s;
}
input[type=text] 
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #00bfff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type=text]:focus
{
  border: 3px solid #247BA0;
}
input[type=range] 
{
  -webkit-appearance: none;
  margin: 15px 0;
  width: 100%;
}
input[type=range]:focus
{
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track
{
  width: 100%;
  float: right;
  height: 12px;
  cursor: pointer;
  background: #00bfff;
  border-radius: 4px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb 
{
  border: 0px solid #247BA0 ;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #247BA0 ;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track 
{
  background: #00bfff;
}
button 
{
  background-color: #00a3cc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
}
ul li
{
  background: lightgrey;
  margin: 10px;
  padding: 5px;
  list-style-type: none;
  font-size: 20px;
  text-align: center;
   border-radius: 5px;
}
.listFlames
{
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}
footer 
{
  width: 100%;
  background: darkgrey;
  float: left;
  margin: 0 0 .5% 0;
  border-radius: 5px;
}
address
{
  font-size : 16px; 
  text-align : center; 
  color: black;
  padding: 1% 0;
}