<!DOCTYPE html>
<html>
    <head>
        <title>F.L.A.M.E.S</title>       
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body ng-app="flames">
       <script src="bower_components/angular/angular.js"></script>
       <script src= "js/MainController.js"></script>
        <h1>F.L.A.M.E.S</h1>
        <div  ng-controller="myController">
            <label for="yourName">Enter your name:</label>          
            <p><input type = "text" ng-model = "yourName" ></p>
            <label for="friendName">Enter your colleague's name: </label>
            <p><input type = "text" ng-model="friendName" ></p>
            <p><label for = "years"> The amount of years you know each other:</label> {{numberOfYears}} <br><br>
            <input type="range" id="myRange" value="100" ng-model = "numberOfYears"></p>
            <button ng-click="determineRelationship()">Determine your relationship</button>
            <p> {{relation}} </p>  
        </div>
    </body>   
</html>